rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function userData() {
      return get(
        /databases/$(database)/documents/users/$(request.auth.uid)
      ).data;
    }

    function isAdmin() {
      return signedIn() &&
        userData().role == "admin";
    }

    function isEditor() {
      return signedIn() &&
        (
          userData().role == "admin" ||
          userData().role == "editor"
        );
    }

    match /users/{userId} {

      allow read: if signedIn();

      allow update, create, delete: if isAdmin();
    }

    match /streamers/{doc} {
      allow read, write: if isEditor();
    }

    match /rosters/{doc} {
      allow read, write: if isEditor();
    }

    match /sponsors/{doc} {
      allow read, write: if isEditor();
    }

    match /proyectos/{doc} {
      allow read, write: if isEditor();
    }
  }
}